<div>
  <div
    data-controller="toggle"
    data-toggle-class="card__option-container--active"
    data-action="click@window->toggle#onOutsideClick"
    class="card card--height"
  >
    <%= link_to @url, class: "card__link" do; end %>
    <header class="card__header">
      <h4 class="card__title"><%= @title %></h4>
      <% unless @pending %>
        <button data-action="click->toggle#open" class="card__option-btn" aria-label="open option">
          <%= embed_svg "dots-horizontal-solid", size: 20 %>
        </button>
      <% end %>
    </header>
    <div class="card__content">
      <%= body %>
      <% if @pending %>
        <div class="ml-auto">
          <%= render BadgeComponent.new(title: "Pending", label: "Invite pending", type: "warning") %>
        </div>
      <% end %>
    </div>
    <% unless @pending %>
      <div data-target="toggle.container" class="card__option-container">
        <header class="card__header card__option-header">
          <h4 class="card__title">
            <%= @title %>
          </h4>
          <button data-action="click->toggle#close" class="card__option-btn" aria-label="close option">
            <%= embed_svg "x-solid", size: 20 %>
          </button>
        </header>
        <div class="card__content">
          <%= actions %>
        </div>
      </div>
    <% end %>
  </div>
</div>