<div class="container container--sm">
  <%= render Headers::ActionableComponent.new(title: "HQ members") do |component| %>
    <% component.with(:actioner) do %>
      <div data-controller="modal">
        <button data-target="modal.opener" data-action="click->modal#showModal" class="btn btn__pill">
          <%= embed_svg "plus-solid", size: 20, class: "btn__pill__icon btn__pill__icon--left" %>
          Invite colleague
        </button>
        <%= render "invite_form" %>
      </div>
    <% end %>
  <% end %>
  <div class="actionable__content">
    <%= render "tab" %>
    <div class="grid__three_centered mt-4">
      <% @hq_memberships.each do |member| %>
        <%= render "member_card", member: member %>
      <% end %>
    </div>
  </div>
</div>