<div class="container container--sm">
  <%= render Headers::ActionableComponent.new(title: "HQs you're part of") do |component| %>
    <% component.with(:actioner) do %>
      <div data-controller="modal">
        <button data-target="modal.opener" data-action="click->modal#showModal" class="btn btn__pill">
          <%= embed_svg "plus-solid", size: 20, class: "btn__pill__icon btn__pill__icon--left" %>
          New
        </button>
        <%= render "form", model: [:app, Headquarter.new], modal_title: "Add new HQ" %>
      </div>
    <% end %>
  <% end %>
  <div class="actionable__content">
    <div class="grid__three_centered mt-4">
      <% @headquarters.each do |headquarter| %>
        <%= render Cards::ModelComponent.new(
            title: headquarter.name,
            url: app_headquarter_url(headquarter),
            pending: current_user.headquarter_invite_pending?(headquarter)
          ) do |component| %>
          <% component.with(:body) do %>
            <p class="card__description">
              <%= headquarter.description %>
            </p>
          <% end %>
          <% component.with(:actions) do %>
            <% if policy(headquarter).update? %>
              <div data-controller="modal">
                <button data-target="modal.opener" data-action="click->modal#showModal" class="card__option-item">
                  <%= embed_svg "pencil-solid", size: 20 %>
                  Edit name, description, etc
                </button>
                <%= render "form", model: [:app, headquarter], modal_title: "Edit #{headquarter.name}" %>
              </div>
              <a href="#" class="card__option-item">
                <%= embed_svg "trash-solid", size: 20 %>
                Delete or exit HQ
              </a>
            <% else %>
              <a href="#" class="card__option-item">
                <%= embed_svg "trash-solid", size: 20 %>
                Exit HQ
              </a>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>