<div class="container container--sm">
  <div class="actionable">
    <div class="actionable__top">
      <section class="actionable__section">
        <%= render Headers::ActionableComponent.new(title: "#{@headquarter.name} HQ", centered: true) %>
        <div class="actionable__content">
          <div class="grid__three_centered">
            <%= render Cards::DumbComponent.new(
                url: app_headquarter_hq_memberships_url(@headquarter),
                title: "HQ members",
                description: "Lorem ipsum dolor, sit amet consectetur adipisicing.",
                type: "team"
              )
            %>
            <%= render Cards::DumbComponent.new(
                url: "#",
                title: "HQ settings",
                description: "Lorem ipsum dolor sit, amet consectetur adipisicing elit.",
                type: "setting"
              )
            %>
          </div>
        </div>
      </section>
      <section class="actionable__section">
        <%= render Headers::ActionableComponent.new(title: "Projects") do |component| %>
          <% component.with(:actioner) do %>
            <%= link_to new_app_headquarter_project_url(@headquarter), class: "btn btn__pill" do %>
              <%= embed_svg "plus-solid", size: 20, class: "btn__pill__icon btn__pill__icon--left" %>
              New
            <% end %>
          <% end %>
        <% end %>
        <div class="actionable__content">
          <%= render "app/projects/project_list", projects: @projects %>
        </div>
      </section>
    </div>
    <div class="actionable__bottom">
      <footer class="actionable__footer">
        <hr class="mb-6">
        <h1 class="font--description font-semibold">Welcome to <%= @headquarter.name %> HQ</h1>
        <p class="font--support">Good vibes since <%= format_date(@headquarter.created_at, long: true) %></p>
      </footer>
    </div>
  </div>
</div>