<%= render Containers::FocussedComponent.new(title: "You have an invitation to #{@hq_membership.headquarter.name}") do |component| %>
  <% component.with(:body) do %>
    <%= embed_svg "team", class: "mx-auto" %>
    <p class="font--description mt-7">
      You can accept the invitation by clicking on the accept
      button or decline it by clicking on the decline button.
    </p>
    <div class="btn__group--col-reverse btn__group--col-reverse--fw mt-5">
      <%= form_with url: app_hq_invitation_url(@hq_membership), method: :delete do |f| %>
        <%= f.submit "Decline invitation", class: "btn btn--danger btn--minimal btn--block btn--rounded" %>
      <% end %>
      <%= form_with url: app_hq_invitation_url(@hq_membership), method: :patch do |f| %>
        <%= f.submit "Accept invitation", class: "btn btn--primary btn--block btn--rounded" %>
      <% end %>
    </div>
  <% end %>

  <% component.with(:footer) do %>
    <p class="focus__footer-text">
      Nevermind,
      <%= link_to "I'll do it later", new_session_url, class: "link link--primary link--weighted" %>
    </p>
  <% end %>
<% end %>